body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

// linear-gradient(0deg, rgba(1,1,1,0.3) 0%, rgba(1,1,1,0.3) 50%),