---
title: Let's livecode | Beer timer
---

<div class="content">
  <h1>
    Is it beer 'o' clock?
  </h1>
  <h2 id="beer-time" data-beer="<%= image_path 'beer.gif' %>" data-programming="<%= image_path 'programming.gif' %>">
    WAIT..
  </h2>
</div>

